deeplearning.ai/04.卷积神经网络/第三周 目标检测/编程作业/Car detection for Autonomous Driving/model_data/yolo.h5
deeplearning.ai/04.卷积神经网络/第二周 深度卷积网络：实例探究/编程作业/ResNets/ResNet50.h5
deeplearning.ai/04.卷积神经网络/第四周 特殊应用：人脸识别和神经风格转换/编程作业/Neural Style Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat
deeplearning.ai/05.序列模型/第三周 序列模型和注意力机制/编程作业/Trigger word detection/XY_dev/X_dev.npy
deeplearning.ai/05.序列模型/第三周 序列模型和注意力机制/编程作业/Trigger word detection/XY_train/X.npy
deeplearning.ai/05.序列模型/第二周 自然语言处理与词嵌入/编程作业/Emojify/data/glove.6B.50d.txt
deeplearning.ai/05.序列模型/第二周 自然语言处理与词嵌入/编程作业/Word Vector Representation/data/glove.6B.50d.txt
deeplearning.ai/吴恩达深度学习作业.zip
